* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

/* LAYOUT: 3-ROW GRID */
#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* HEADER STYLE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #171c28;
  border-bottom: 1px solid #e0e0e0;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

header nav ul {
  display: flex;
  gap: 20px; /* Space between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
}

/* MAIN CONTENT: THE PRODUCT GRID */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 20px;
  padding: 20px; 
  
  /* Layout behavior */
  width: 100%;
  overflow: hidden;
}

/* STORE ITEM CARD */
.store-item {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: #fff;
  height: 100%; 
}

/* Image */
.store-item img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Text Styling */
.store-item p {
  width: 100%;
  margin: 5px 0;
}

/* Description Text*/
.store-item p:nth-of-type(2) {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

/* RATING, PRICE, STOCK ROW */
.store-item span {
  flex: 1;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #171c28;
  color: #fff;
}